@import "./fonts.css";
* {
    font-family: 'Roboto';
}

section {
    padding: 20px 0;
}

h1,
h2,
h3,
a {
    font-family: 'Montserrat';
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
}

.text-centered {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.title-component {
    margin-bottom: 10px;
}

.form-group label {
    font-size: 12px;
    color: #777;
    margin-bottom: 0;
}